/node_modules
/public/hot
/public/storage
/public/css
/public/js
/public/fonts
/public/icons
/public/img
/public/app.html
/storage/*.key
/vendor
/public/app
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
